*.o
*.so
*.a
*.sublime-workspace
Makefile
*.make
*.user
*.ini
*.sln
*.vcxproj
*.vcxproj.filters
*.json

Navigator/Makefile
NavProject/Makefile

.vs/
bin-int/
bin/
lib/
*.xcworkspace/
.vscode/
build/

!.gitignore
